pipeline/MIG_BI20_TO_BI30.json
{
	"name": "MIG_BI20_TO_BI30",
	"properties": {
		"activities": [
			{
				"name": "Tablas_migracion",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "O_LISTA_TABLAS_MIGRACION",
						"type": "DatasetReference",
						"parameters": {
							"NombreTabla": {
								"value": "@string(join(pipeline().parameters.ListaTablas, ','))\n",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Cargar_tablas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Tablas_migracion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ListaTablas",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copiar_data_tablas",
							"description": "Copia los datos de las tablas definido en ListaTablas para la migración de BI2 a BI3",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', item())\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlMISink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": false,
										"keys": {
											"value": "@split(activity('Lookup1').output.firstRow.ColumnList, ',')\n",
											"type": "Expression"
										},
										"interimSchemaName": ""
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "O_LISTA_TABLAS_MIGRACION",
									"type": "DatasetReference",
									"parameters": {
										"NombreTabla": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "D_MI_MIGRACION_TABLAS",
									"type": "DatasetReference",
									"parameters": {
										"Tabla_Destino": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT STRING_AGG(c.name, '','') AS ColumnList FROM sys.indexes i ',\n  'INNER JOIN sys.index_columns ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id ',\n  'INNER JOIN sys.columns c ON ic.object_id = c.object_id AND ic.column_id = c.column_id ',\n  'INNER JOIN sys.tables t ON i.object_id = t.object_id ',\n  'INNER JOIN sys.schemas s ON t.schema_id = s.schema_id ',\n  'WHERE t.name = ''', item(), ''' AND s.name = ''dbo'' ',\n  'AND (i.is_primary_key = 1 OR i.is_unique = 1)'\n)\n",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "D_MI_MIGRACION_TABLAS",
									"type": "DatasetReference",
									"parameters": {
										"Tabla_Destino": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ListaTablas": {
				"type": "array",
				"defaultValue": [
					"ADR2",
					"ADR6",
					"ADRC"
				]
			}
		},
		"folder": {
			"name": "MIG_BI20_TO_BI30"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-31T22:19:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}