pipeline/MIG_BI20_TO_BI30_SIN_FECHA.json
{
	"name": "MIG_BI20_TO_BI30_SIN_FECHA",
	"properties": {
		"activities": [
			{
				"name": "Cargar_tablas",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ListaTablas",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Obtener Count y Fecha Origen",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Obtener Count y Fecha Destino",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Obtener Count y Fecha Origen').output.firstRow[''], activity('Obtener Count y Fecha Destino').output.firstRow[''])\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copiar_data_tablas",
										"description": "Copia los datos de las tablas definido en ListaTablas para la migración de BI2 a BI3",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Lookup1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat('SELECT * FROM ', item())\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlMISink",
												"writeBehavior": "upsert",
												"upsertSettings": {
													"useTempDB": false,
													"keys": {
														"value": "@split(activity('Lookup1').output.firstRow.ColumnList, ',')\n",
														"type": "Expression"
													},
													"interimSchemaName": ""
												},
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "O_LISTA_TABLAS_MIGRACION",
												"type": "DatasetReference",
												"parameters": {
													"NombreTabla": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MI_DWH_BI18_CUA_PRD",
												"type": "DatasetReference",
												"parameters": {
													"Tabla_Destino": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Lookup1",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlMISource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'SELECT STRING_AGG(c.name, '','') AS ColumnList FROM sys.columns c ',\n    'INNER JOIN sys.tables t ON c.object_id = t.object_id ',\n    'INNER JOIN sys.schemas s ON t.schema_id = s.schema_id ',\n    'WHERE t.name = ''', item(), ''' AND s.name = ''dbo'' AND 1 = (',\n    'CASE WHEN t.name IN (''CUA_LITUUS_PAB_DETALLE_PRESTACIONES_CIRUGIA'', ''CUA_LITUUS_PAB_IDENTIFICAR_PROTOCOLO_OPERATORIO'', ''CUA_LITUUS_PAB_PRESTACIONES_AGENDADAS'') AND c.name = ''NUM_ACTUAL_PRESTACION'' THEN 1 ',\n    'WHEN t.name = ''CUA_LITUUS_PAB_TIEMPOS_QUIRURGICOS'' AND c.name IN (''NUM_ACTUAL_PRESTACION'', ''NOMBRE_HORA'', ''FECHA'', ''HORA_CRONOMARCADOR'') THEN 1 ',\n    'WHEN t.name = ''CUA_LITUUS_PAB_AGENDAMIENTO'' AND c.name = ''ID_CITACION'' THEN 1 ',\n    'WHEN (t.name NOT IN (''CUA_LITUUS_PAB_DETALLE_PRESTACIONES_CIRUGIA'', ''CUA_LITUUS_PAB_IDENTIFICAR_PROTOCOLO_OPERATORIO'', ''CUA_LITUUS_PAB_PRESTACIONES_AGENDADAS'', ''CUA_LITUUS_PAB_TIEMPOS_QUIRURGICOS'', ''CUA_LITUUS_PAB_AGENDAMIENTO'')) AND (EXISTS (SELECT 1 FROM sys.indexes i INNER JOIN sys.index_columns ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id WHERE ic.object_id = c.object_id AND ic.column_id = c.column_id AND (i.is_primary_key = 1 OR i.is_unique = 1))) THEN 1 ',\n    'ELSE 0 END',\n    ')'\n)",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "MI_DWH_BI18_CUA_PRD",
												"type": "DatasetReference",
												"parameters": {
													"Tabla_Destino": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Obtener Count y Fecha Origen",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT CONVERT(VARCHAR, COUNT(1)) FROM ', item())\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "O_LISTA_TABLAS_MIGRACION",
									"type": "DatasetReference",
									"parameters": {
										"NombreTabla": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Obtener Count y Fecha Destino",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT CONVERT(VARCHAR, COUNT(1)) FROM ', item())\n",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "MI_DWH_BI18_CUA_PRD",
									"type": "DatasetReference",
									"parameters": {
										"Tabla_Destino": "@item()"
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ListaTablas": {
				"type": "array",
				"defaultValue": [
					"CUA_LITUUS_PAB_AGENDAMIENTO",
					"CUA_LITUUS_PAB_DETALLE_PRESTACIONES_CIRUGIA",
					"CUA_LITUUS_PAB_IDENTIFICAR_PROTOCOLO_OPERATORIO",
					"CUA_LITUUS_PAB_PRESTACIONES_AGENDADAS",
					"CUA_LITUUS_PAB_TIEMPOS_QUIRURGICOS"
				]
			}
		},
		"variables": {
			"COMPRACION_HASH": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MIG_BI20_TO_BI30/Subflows"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-08T13:39:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}