pipeline/MIG_BI20_TO_BI30.json
{
	"name": "MIG_BI20_TO_BI30",
	"properties": {
		"activities": [
			{
				"name": "Tablas_migracion",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LISTA_TABLAS_MIGRACION",
						"type": "DatasetReference",
						"parameters": {
							"NombreTabla": {
								"value": "@pipeline().parameters.ListaTablas",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Cargar_tablas",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Tablas_migracion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ListaTablas",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copiar_data_tablas",
							"description": "Copia los datos de las tablas definido en ListaTablas para la migración de BI2 a BI3",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT TOP 10 * FROM ",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlMISink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LISTA_TABLAS_MIGRACION",
									"type": "DatasetReference",
									"parameters": {
										"NombreTabla": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "D_MI_MIGRACION_TABLAS",
									"type": "DatasetReference",
									"parameters": {
										"Tabla_Destino": "@item()"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "O_DB_BI2",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "INSERT INTO TABLAS_MIGRACION (NombreTabla)\nVALUES\n('CUA_ABASTECIMIENTO'),\n('CUA_AGENDAMIENTO'),\n('CUA_CAT_TRATAMIENTO'),\n('CUA_HIST_CUENTA_PAC'),\n('CUA_LITUUS_PAB_AGENDAMIENTO'),\n('CUA_LITUUS_PAB_DATOS_EXTRA_CX'),\n('CUA_LITUUS_PAB_DETALLE_DOCUMENTO'),\n('CUA_LITUUS_PAB_DETALLE_PRESTACIONES_CIRUGIA'),\n('CUA_LITUUS_PAB_EQUIPO_MEDICO'),\n('CUA_LITUUS_PAB_ID_ORDEN_MEDICA'),\n('CUA_LITUUS_PAB_IDENTIFICAR_PROTOCOLO_OPERATORIO'),\n('CUA_LITUUS_PAB_PRESTACIONES_AGENDADAS'),\n('CUA_LITUUS_PAB_PROTOCOLO_OPERATORIO'),\n('CUA_LITUUS_PAB_TIEMPOS_QUIRURGICOS'),\n('CUA_LITUUS_TPO_PTA_DOCTOR'),\n('CUA_LITUUS_TPO_PTA_DOCTOR_2'),\n('CUA_REPORTE_CLINICAS_CHILE'),\n('CUA_REPORTE_PRESTACIONES_PLANIFICADAS'),\n('DIM_DIAGNOSTICO'),\n('DIM_DOC_FICHA_MATERNA'),\n('DIM_EMPRESA'),\n('DIM_EPISODIO'),\n('DIM_FACTURA'),\n('DIM_FECHA'),\n('DIM_ORDEN_CLINICA'),\n('DIM_PACIENTE'),\n('DIM_PACIENTE_RFM'),\n('DIM_PRESTACION'),\n('DIM_PROF_MEDICO'),\n('DIM_UBI_GEOGRAFICA'),\n('DIM_UNIDAD'),\n('EPISODIO_HU'),\n('FACT_ACTIVIDAD'),\n('FACT_ALTAS'),\n('ML_AUDITORIA_SEGMENTACION'),\n('PANEL_ENSAYOS_CLINICOS'),\n('PARETO_TIPO_CONTRATO'),\n('PMD_ALTA_URGENCIA'),\n('REL_EPISODIO_DOCUMENTO'),\n('REL_ORDEN_CLINICA_PRESTACION'),\n('REL_PRESTACION_PRECIO'),\n('REL_PROF_MEDICO_ESPECIALIDAD');\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"ListaTablas": {
				"type": "array",
				"defaultValue": [
					"ADR2",
					"ADR6",
					"ADRC",
					"BUT000",
					"BUT000_STG",
					"BUT020",
					"BUT100",
					"C502",
					"CSKB",
					"CSKS",
					"CSKT",
					"CSKU",
					"CUA_LITUUS_PAB_AGENDAMIENTO",
					"CUA_LITUUS_PAB_DATOS_EXTRA_CX",
					"CUA_LITUUS_PAB_DETALLE_DOCUMENTO",
					"CUA_LITUUS_PAB_DETALLE_PRESTACIONES_CIRUGIA",
					"CUA_LITUUS_PAB_EQUIPO_MEDICO",
					"CUA_LITUUS_PAB_ID_ORDEN_MEDICA",
					"CUA_LITUUS_PAB_IDENTIFICAR_PROTOCOLO_OPERATORIO",
					"CUA_LITUUS_PAB_PRESTACIONES_AGENDADAS",
					"CUA_LITUUS_PAB_PROTOCOLO_OPERATORIO",
					"CUA_LITUUS_PAB_TIEMPOS_QUIRURGICOS",
					"CUA_LITUUS_TPO_PTA_DOCTOR",
					"DIM_DIAGNOSTICO",
					"DIM_DOC_FICHA_MATERNA",
					"DIM_EMPRESA",
					"DIM_EPISODIO",
					"DIM_FACTURA",
					"DIM_FECHA",
					"DIM_ORDEN_CLINICA",
					"DIM_PACIENTE",
					"DIM_PACIENTE_RFM",
					"DIM_PRESTACION",
					"DIM_PROF_MEDICO",
					"DIM_UBI_GEOGRAFICA",
					"DIM_UNIDAD",
					"FACT_ACTIVIDAD",
					"HISTORIA_DOTACION_CAMAS",
					"HRP1001",
					"HRP6080",
					"MARM",
					"ML_AUDITORIA_SEGMENTACION",
					"N1CORDER",
					"N1LSTEAM",
					"NBEW_STG",
					"NBUP",
					"NCIR",
					"NDIA",
					"NDOC",
					"NEORIS_C0000000",
					"NEORIS_C0000009",
					"NEORIS_H0000000",
					"NEORIS_H0000002",
					"NFAL",
					"NFPZ_STG",
					"NINS",
					"NKDI",
					"NLLZ",
					"NMATV",
					"NOEK",
					"NPEF",
					"NPNT",
					"NPNT_STG",
					"NPRS",
					"NTPK",
					"NTPK_STG",
					"NTPT",
					"NTPZ",
					"NTSP",
					"REL_EPISODIO_DOCUMENTO",
					"REL_ORDEN_CLINICA_PRESTACION",
					"REL_PRESTACION_PRECIO",
					"REL_PROF_MEDICO_ESPECIALIDAD",
					"REPORTE_ACTIVIDAD_MENSUAL",
					"SKAT",
					"TB_IM_EPISODIO_IMAGEN",
					"TMP_H0000000",
					"TMP_NBEW",
					"TMP_NBEW_ALT",
					"TMP_NDOC",
					"TMP_NLEI_PASO_1",
					"TMP_PA0001",
					"TMP_TBL_900",
					"TMP_VBRK_VBRP",
					"VBRK",
					"VBRK_STG",
					"ZISH_TPRES3_S2_D",
					"ZMED_HALTA_00000",
					"ZMED_HALTA_00000_STG",
					"ZMED_HALTA_00001",
					"ZMED_PROPER_0000",
					"ZVBRP",
					"ZVBRP_STG"
				]
			}
		},
		"folder": {
			"name": "MIG_BI20_TO_BI30"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-13T19:24:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}